@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html {
    color: #555;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 50em;
    padding: 0 1em 4em;
}

pre {
    /* white-space: pre-wrap;
    word-wrap: break-word; */
    overflow: auto;
    font-family: monospace;
    padding: 1em;
    background-color: #f8f8f8; /* Light gray background */
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
}

textarea {
    width: 20em;
    height: 10em;
}